<!DOCTYPE html>
<html lang="en">
  <head>
    <% include components/head %> 
    <script src="javascripts/moment.min.js", type="text/javascript"></script>
    <script src="javascripts/directory_scripts.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/directory_table.css">
  </head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">  
			<div class="row">
				<h1><%= page %></h1>
				<p>This page currently displays people who have been with 
					XENON for a year (current and those who have left) and are 
					not XENON students.</p>
			</div>
			<div class="row">
				<!-- fill this with the laTex -->
				<button class="btn btn-secondary" data-toggle="modal" data-target="#latexModal">Display LaTeX</button>
			</div>
			<div class="row">
				<!-- Fill this with the list of people who are on the LaTeX-->
				<h5>Current Members</h5>
				<table id="currTable" style="width:100%"></table>
				<h5>Previous Members</h5>
				<table id="prevTable" style="width:100%"></table>
			</div>
		</div>

		<!-- Modal with LaTeX Code -->
		<div id="latexModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content" style="padding: 20px 35px 20px 35px; background-color: #fdfdfd;">
		  <div class="modal-header" style="padding-left:30px">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Authors</h3>
          </div>
          <div class="modal-body">
						<% for (i = 0; i < data.length; i++) {%>
							<% if (data[i].institute != null) {%>
								\author{<%= (data[i].first_name).toString().match(/[A-Z]/g).join('.~') %>.~<%= (data[i].last_name).replace(/\s/g, "~"); %>}<%if(data[i].additional_institutes) {%>\altaffiliation[Also at ]{<%=data[i].additional_institutes%>}<%}%>\<%= (data[i].institute).toLowerCase() %><br>
							<%}%>
						<%}%>
					</div>
				</div>
			</div>
		</div>
		<!-- Update User Modal -->
		<div id="updateUserModal" class="modal fade" role="dialog" tabindex="-1">
			<div class="modal-dialog" role="document">
		
				<div class="modal-content" style="padding: 20px 35px 20px 35px; background-color: #fdfdfd;">
					<div class="modal-header" style="padding-left:30px">
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title">Add Additional Institution</h3>
					</div>
					<div class="modal-body">
						<form id="formUpdateUser" name="updateuser" method="post">
							<div class="row" style="margin-top:12px">
								<label for="fname" style="padding-left:30px">First Name</label><br>
								<div style="text-align:center;">
								  <input id="fname" type="text" name="FirstName" readonly />
								</div>
							  </div>
				
							  <div class="row" style="margin-top:12px">
								<label for="lname" style="padding-left:30px">Last Name</label><br>
								<div style="text-align:center;">
								  <input id="lname" type="text" name="LastName" readonly />
								</div>
							  </div>
				
							  <div class="row" style="margin-top:12px">
								<label for="email" style="padding-left:30px">Email</label><br>
								<div style="text-align:center;">
								  <input id="email" type="email" name="Email" readonly />
								</div>
							  </div>
				
							  <div class="row" style="margin-top:12px">
								<label for="institute" style="padding-left:30px">Institute</label><br>
								<div style="text-align:center;">
								  <input id="institute" type="text" name="Institute" readonly />
								</div>
							  </div>
						  <div class="row" style="margin-top:12px">
							<label for="addInst" style="padding-left:30px">Additional Institutions</label><br>
							<div style="text-align:center;">
							  <input id="addInst" type="text" name="addInst" />
							</div>
						  </div>

						  <br>
							<div style="text-align:center;">
								<input type="submit" value="Submit">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
<script>
	$(document).ready(function () {
		PrevAuthorsTable("#prevTable")
		CurrAuthorsTable("#currTable")
	})
</script>