<!DOCTYPE html>
<html lang="en">
  <head>
    <% include components/head %> 
    <script src="javascripts/moment.min.js", type="text/javascript"></script>
    <script src="javascripts/moment-timezone-with-data.min.js", type="text/javascript"></script>
    <script src="javascripts/directory_scripts.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/directory_table.css">
  </head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">  
      <h1><%= page %></h1>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tableview">Current Members</a></li>
        <li><a data-toggle="tab" href="#previous">Previous Members</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="tableview" class="tab-pane fade in active">
          <h4>XENON members list</h4>
          <table id="currentMembersTable" style="width:100%"></table>
        </div>
        <div id="previous" class="tab-pane fade">
          <h4 style="text-align: center;margin-bottom: -20px;padding-bottom: 0px;">People that left the collaboration</h4>
          <table id="previousMembersTable" style="width:100%"></table>
        </div>
        <div id="current" class="tab-pane fade">
          <% for (i = 0; i < curr.length; i++) {%>
              <details>
                  <summary> <%=curr[i].last_name + ", " + curr[i].first_name %></summary>
                  <p><b>Institute: </b><%= curr[i].institute %><br>
                      <b>Email: </b><%= curr[i].email%> <br>
                      <b>Position: </b><%= curr[i].position%> <br>
                      <b>Start Date: </b><%= curr[i].start_date%><br>
                      <b>End Date: </b><%= curr[i].end_date%></p><br>
                      <!-- make this button available only if authorized as admin/PI-->
                      <button id="btn-ManageAcct" type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#updateUserModal" data-id="<%= JSON.stringify(curr[i]) %>" >Manage Account</button>
      
              </details>
          <%}%>
      </div>
      </div>
    </div>
    <!-- Modal -->
    <% include components/updateUserModal %>
  </body>
  <script>
    $(document).ready(function() {
      InitializeTable("#currentMembersTable")
      InitializePrevTable("#previousMembersTable")
    })
  </script>
</html>