<!DOCTYPE html>
<style>
    details {
    border-bottom: .5px solid #aaa;
    border-radius: 0px;
    padding: 1em 1em .5em;
    }

    summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    }

    details[open] {
    padding: 1em 1em .5em;
    border: 1px;
    background-color: #f0f0f0;
    }

    details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    }

    h3 {
        margin: 0px;
        display: inline-block;
    }
  
     
</style>
<html lang="en"></html>
<html>
  <head>
    <% include components/head %>
    <script src="/shifts/javascripts/directory_scripts.js" type="text/javascript"></script>
    <script src="/shifts/javascripts/text-validations.js" type="text/javascript"></script>
    <script src="/shifts/javascripts/chart.js" type="text/javascript"></script>

  </head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">  
      <div class ="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
          <h3><%=page%> XENON team at a glance </h3>
          <hr style="margin-top: 5px;">
          <figure class="highcharts-figure">
            <div id="stats" style="height:250px"></div>
        </figure>
          <p>Current Members: <%= curr.length%> <br> <br>
            PI: <% for (i = 0; i < PI.length; i++) {%>
                  <%=PI[i].last_name + ", " + PI[i].first_name %> <br>
                <%}%> <br>
          </p>
        </div>
        <div class="col-sm-4">
            <h3>Members</h3>
            <!-- make this button available only if authorized as admin/PI-->
            <!-- Button triggers newUserModal -->
            <% if ((user.position == "PI" && user.institute == page) || (user.groups !== undefined)) {%>
              <a href="https://xenonnt.lngs.infn.it/shifts/request_new_member" target="_blank"><button type="button" class="btn btn-secondary btn-sm" style="color:#333;float:right;margin-top:20px">Request New Member</button></a>
            <%}%>  
          <% include components/directory %>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <!-- Update User Modal -->
    <% include components/updateUserModal %>
  </body>
  <script>
    $(document).ready(function () {
      UpdateUserModal();
      suggestRemoveForm("#edate");
      ValiDate("#sdate");
      ValiDate("#edate");
      ValidateForm('#formUpdateUser', ['#edate', '#sdate']);
      Chart('stats', '<%-JSON.stringify(dict)%>', '<%-JSON.stringify(PI)%>')
    })
  </script>
</html>