<!DOCTYPE html>
<style>
    details {
    border-bottom: .5px solid #aaa;
    border-radius: 0px;
    padding: 1em 1em .5em;
    }

    summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    }

    details[open] {
    padding: 1em 1em .5em;
    border: 1px;
    background-color: #f0f0f0;
    }

    details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    }

    h3 {
        margin: 0px;
        display: inline-block;
    }
  
     
</style>
<html lang="en"></html>
<html>
  <head>
    <% include components/head %>
    <script src="/javascripts/modal_scripts.js" type="text/javascript"></script>
  </head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">  
      <div class ="row">
        <div class="col-sm-1"></div>
        <div class="col-lg-6">
          <h1><%= page %></h1>
          <h3><%=page%> XENON team at a glance </h3>
          <hr style="margin-top: 5px;">
          <p>Current Members: <%= curr.length%> <br> <br>
            PI: <% for (i = 0; i < PI.length; i++) {%>
                  <%=PI[i].last_name + ", " + PI[i].first_name %> <br>
                <%}%> <br>
            <% for(var key in dict) {%>
              <%=key%>: <%=dict[key]%> <br>
            <%}%>
          </p>
        </div>
        <div class="col-sm-4">
            <h3>Members</h3>
            <!-- make this button available only if authorized as admin/PI-->
            <!-- Button triggers newUserModal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#newUserModal" style="float:right;margin-top:20px">Add Member</button>
          <% include components/directory %>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <!-- New User Modal -->
    <div id="newUserModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content" style="padding: 20px 35px 20px 35px; background-color: #fdfdfd;">
          <div class="modal-header" style="padding-left:30px">
            <h3 class="modal-title">Add New User</h3>
          </div>
          <div class="modal-body">
            <form id="formAddUser" name="adduser" method="post" action="/users/adduser">
              <div class="row" style="margin-top:12px">
                <label for="fname" style="padding-left:30px">First Name</label><br>
                <div style="text-align:center;">
                  <input id="fname" type="text" name="FirstName" />
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="lname" style="padding-left:30px">Last Name</label><br>
                <div style="text-align:center;">
                  <input id="lname" type="text" name="LastName" />
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="email" style="padding-left:30px">Email</label><br>
                <div style="text-align:center;">
                  <input id="email" type="email" name="Email" />
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="position" style="padding-left:30px">Position</label><br>
                <div style="text-align:center;">
                  <input id="position" type="text" name="Position" />
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="institute" style="padding-left:30px">Institute</label><br>
                <div style="text-align:center;">
                  <input id="institute" type="text" name="Institute" readonly value=<%= page %> />
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="time" style="padding-left:30px">Percent Xenon</label><br>
                <div style="text-align:center;">
                  <input id="time" type="number" name="Time" />
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="tasks" style="padding-left:30px">Tasks</label><br>
                <div style="text-align:center;">
                  <input id="tasks" type="text" name="Tasks" />
                </div>
              </div>

              <div class="row" style="margin-top:12px;padding-left:30px">
                <label for="mlists">Mailing Lists</label><br>
                <div class="inline-field">
                  <label><input type="checkbox" id="mlist1" name="mlist1" value="Calibration"> Calibration</label>
                </div>
                <div class="inline-field">
                  <input type="checkbox" id="mlist2" name="mlist2" value="Analysis"> <label for="mlist2"> Analysis</label>
                </div>
                <td>
                <input type="checkbox" id="mlist3" name="mlist3" value="TPC">
                TPC<br>
                </td>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="sdate" style="padding-left:30px">Start Date</label><br>
                <div style="text-align:center;">
                  <input id="sdate" type="date" name="StartDate" />
                </div>
              </div>

              <br>
              <div style="text-align:center;">
                <input type="submit" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Update User Modal -->
    <div id="updateUserModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

          <div class="modal-content" style="padding: 20px 35px 20px 35px; background-color: #fdfdfd;">
              <div class="modal-header" style="padding-left:30px">
                  <h3 class="modal-title">Update User</h3>
              </div>
              <div class="modal-body">
                  <form id="formUpdateUser" name="updateuser" method="post">
                    <div class="row" style="margin-top:12px">
                      <label for="fname" style="padding-left:30px">First Name</label><br>
                      <div style="text-align:center;">
                        <input id="fname" type="text" name="FirstName" />
                      </div>
                    </div>
      
                    <div class="row" style="margin-top:12px">
                      <label for="lname" style="padding-left:30px">Last Name</label><br>
                      <div style="text-align:center;">
                        <input id="lname" type="text" name="LastName" />
                      </div>
                    </div>
      
                    <div class="row" style="margin-top:12px">
                      <label for="email" style="padding-left:30px">Email</label><br>
                      <div style="text-align:center;">
                        <input id="email" type="email" name="Email" />
                      </div>
                    </div>
      
                    <div class="row" style="margin-top:12px">
                      <label for="position" style="padding-left:30px">Position</label><br>
                      <div style="text-align:center;">
                        <input id="position" type="text" name="Position" />
                      </div>
                    </div>
      
                    <div class="row" style="margin-top:12px">
                      <label for="institute" style="padding-left:30px">Institute</label><br>
                      <div style="text-align:center;">
                        <input id="institute" type="text" name="Institute" />
                      </div>
                    </div>
      
                    <div class="row" style="margin-top:12px">
                      <label for="time" style="padding-left:30px">Percent Xenon</label><br>
                      <div style="text-align:center;">
                        <input id="time" type="number" name="Time" />
                      </div>
                    </div>
      
                    <div class="row" style="margin-top:12px">
                      <label for="tasks" style="padding-left:30px">Tasks</label><br>
                      <div style="text-align:center;">
                        <input id="tasks" type="text" name="Tasks" />
                      </div>
                    </div>
      
                    <div class="row" style="margin-top:12px;padding-left:30px">
                      <label for="mlists">Mailing Lists</label><br>
                      <div class="inline-field">
                        <label><input type="checkbox" id="mlist1" name="mlist1" value="Calibration"> Calibration</label>
                      </div>
                      <div class="inline-field">
                        <input type="checkbox" id="mlist2" name="mlist2" value="Analysis"> <label for="mlist2"> Analysis</label>
                      </div>
                      <td>
                      <input type="checkbox" id="mlist3" name="mlist3" value="TPC">
                      TPC<br>
                      </td>
                    </div>
      
                    <div class="row" style="margin-top:12px">
                      <label for="sdate" style="padding-left:30px">Start Date</label><br>
                      <div style="text-align:center;">
                        <input id="sdate" type="date" name="StartDate" />
                      </div>
                    </div>
      
                    <div class="row" style="margin-top:12px">
                      <label for="edate" style="padding-left:30px">End Date</label><br>
                      <div style="text-align:center;">
                        <input id="edate" type="date" name="EndDate" />
                      </div>
                    </div>
      
                    <br>
                    <div style="text-align:center;">
                      <input type="submit" value="Submit">
                    </div>
                  </form>
                </div>
          </div>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      UpdateUserModal();
    })
  </script>
</html>