<!DOCTYPE html>
<style>
    .bg-3 { 
    background-color: #ffffff;
    color: #555555;
    }
    .container-fluid {
    padding-top: 10px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
    }
    .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    }
    .navbar-nav  li a:hover {
    color: #00008b !important;
    }
    .active>a {
    color: #00008b !important;;
    }
    details {
    border-top: .5px solid #aaa;
    border-bottom: .5px solid #aaa;
    border-radius: 0px;
    padding: 1em 1em .5em;
    }

    summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    }

    details[open] {
    padding: 1em 1em .5em;
    border: 1px;
    background-color: #f0f0f0;
    }

    details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    }
</style>
<html lang="en"></html>
<html>
  <head>
    <% include components/head %>
  </head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">  
      <div class="row">
        <div class= "col-sm-1"></div>
        <div class="col-lg-6">
          <h1><%= page %></h1>
        </div>
        <div class="col-sm-2">
          <h2>Members</h2>
        </div>
        <div class= "col-sm-1">
          &nbsp;
          <button type="button" class="btn btn-secondary btn-sm">Add Member</button>
        </div>
        <div class= "col-sm-1">
            &nbsp;
            <button type="button" class="btn btn-secondary btn-sm">Delete Member</button>
        </div>
        <div class= "col-sm-1"></div>
      </div>
      <div class ="row">
        <div class="col-sm-1"></div>
        <div class="col-lg-6">
          <h4><%=page%> XENON team at a glance </h4>
          <p>Total Members: <%= data.length%> <br>
            PI: <% for (i = 0; i < PI.length; i++) {%>
                  <%=PI[i].last_name + ", " + PI[i].first_name %> <br>
                <%}%>
            PhD Students: <%=PhD.length%><br>
            Master Students: <%=Master.length%><br>
            Postdoc: <%=PD.length%><br>
            Thesis students: <%=Thesis.length%><br>
            Other students: <%=Other%><br>
            Staff: <%=Staff%><br>    
          </p>
        </div>
        <div class="col-sm-4">
          <% include components/directory %>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </body>
</html>