<!DOCTYPE html>
<html lang="en">
<head>
 <% include components/head %> 
</head>
<body>
<% include components/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3>Institutes</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <% for (i = 0; i < Math.floor(data.length/3); i++) {%>
          <p><a href="/institutes/<%=data[i]%>"><%=data[i]%></a></p>
      <%}%>
    </div>
    <div class="col-sm-4"> 
      <% for (i = Math.floor(data.length/3); i < Math.floor(data.length*(2/3)); i++) {%>
          <p><a href="/institutes/<%=data[i]%>"><%=data[i]%></a></p>
      <%}%>
    </div>
    <div class="col-sm-4"> 
      <% for (i = Math.floor(data.length*(2/3)); i < data.length; i++) {%>
          <p><a href="/institutes/<%=data[i]%>"><%=data[i]%></a></p>
      <%}%>   
    </div>
  </div>
  <h4>For full member directory visit <a href="/fulldirectory">/fulldirectory</a></h4>
</div>
</body>
<% include components/script %>
</html>