<!DOCTYPE html>
<style>
    details {
    border-bottom: .5px solid #aaa;
    border-radius: 0px;
    padding: 1em 1em .5em;
    }

    summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    }

    details[open] {
    padding: 1em 1em .5em;
    border: 1px;
    background-color: #f0f0f0;
    }

    details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    }

    h3 {
        margin: 0px;
        display: inline-block;
    }
  
     
</style>
<html lang="en"></html>
<html>
  <head>
    <% include components/head %>
    <script src="/shifts/javascripts/directory_scripts.js" type="text/javascript"></script>
  </head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">  
      <div class ="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
          <h1><%= page %></h1>
          <h3><%=page%> XENON team at a glance </h3>
          <hr style="margin-top: 5px;">
          <p>Current Members: <%= curr.length%> <br> <br>
            PI: <% for (i = 0; i < PI.length; i++) {%>
                  <%=PI[i].last_name + ", " + PI[i].first_name %> <br>
                <%}%> <br>
            <% for(var key in dict) {%>
              <%=key%>: <%=dict[key]%> <br>
            <%}%>
          </p>
        </div>
        <div class="col-sm-4">
            <h3>Members</h3>
            <!-- make this button available only if authorized as admin/PI-->
            <!-- Button triggers newUserModal -->
            <% if ((user.position == "PI" && user.institute == page) || (user.groups !== undefined)) {%>
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#newUserModal" style="float:right;margin-top:20px">Add Member</button>
            <%}%>  
          <% include components/directory %>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <!-- New User Modal -->
    <div id="newUserModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content" style="padding: 20px 35px 20px 35px; background-color: #fdfdfd;">
          <div class="modal-header" style="padding-left:30px">
            <h3 class="modal-title">Add New User</h3>
          </div>
          <div class="modal-body">
            <form id="formAddUser" name="adduser" method="post" action="/shifts/users/adduser">
              <div class="row" style="margin-top:12px">
                <label for="fname" style="padding-left:30px">First Name</label><br>
                <div style="text-align:center;">
                  <input id="fname" type="text" name="FirstName" required>
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="lname" style="padding-left:30px">Last Name</label><br>
                <div style="text-align:center;">
                  <input id="lname" type="text" name="LastName" required>
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="email" style="padding-left:30px">Email</label><br>
                <div style="text-align:center;">
                  <input id="email" type="email" name="Email" required>
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="position" style="padding-left:30px">Position</label><br>
                <div style="padding-left:30px">
                  <select name="position" id="position"> 
                    <option selected disabled hidden>Please select</option>
                    <option value="Engineer">Engineer</option>
                    <option value="Master Student">Master Student</option>
                    <option value="Non-permanent Scientist">Non-permanent Scientist</option>
                    <option value="Other Student">Other Student</option>
                    <option value="Permanent Scientist">Permanent Scientist</option>
                    <option value="PhD Stident">PhD Student</option>
                    <option value="PI">PI</option>
                    <option value="Postdoc">Postdoc</option>
                    <option value="Staff">Staff</option>
                    <option value="Thesis Student">Thesis Student</option>
                    <option value="XENON Student">XENON Student</option>
                  </select>
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="institute" style="padding-left:30px">Institute</label><br>
                <div style="text-align:center;">
                  <input id="institute" type="text" name="institute" readonly value=<%= page %> />
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="time" style="padding-left:30px">Percent Xenon</label><br>
                <div style="text-align:center;">
                  <input id="time" type="number" name="Time" required>
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="tasks" style="padding-left:30px">Tasks</label><br>
                <div style="text-align:center;">
                  <input id="tasks" type="text" name="Tasks">
                </div>
              </div>

              <div class="row" style="margin-top:12px;padding-left:30px">
                <label for="mlists">Mailing Lists</label><br>
                  <input type="checkbox" id="mlist1" name="mlist1" value="Calibration">&nbsp;&nbsp;&nbsp;Calibration<br>
                  <input type="checkbox" id="mlist2" name="mlist2" value="Analysis">&nbsp;&nbsp;&nbsp;Analysis<br>
                  <input type="checkbox" id="mlist3" name="mlist3" value="TPC">&nbsp;&nbsp;&nbsp;TPC<br>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="sdate" style="padding-left:30px">Start Date</label><br>
                <div style="text-align:center;">
                  <input id="sdate" type="date" name="StartDate" placeholder="YYYY-MM-DD" required>
                </div>
              </div>

              <div class="row" style="margin-top:12px">
                <label for="edate" style="padding-left:30px">End Date</label><br>
                <div style="text-align:center;">
                  <input id="edate" type="date" name="expectedEnd" placeholder="YYYY-MM-DD"/>
                </div>
              </div>
              <br>
              <div style="text-align:center;">
                <input type="submit" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Update User Modal -->
    <% include components/updateUserModal %>
  </body>
  <script>
    $(document).ready(function () {
      UpdateUserModal();
    })
  </script>
</html>