<!DOCTYPE html>
<style>
    .pull-right {
      vertical-align: middle;
    }

    details {
    border-bottom: .5px solid #aaa;
    border-radius: 0px;
    padding: 1em 1em .5em;
    }

    summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    }

    details[open] {
    padding: 1em 1em .5em;
    border: 1px;
    background-color: #f0f0f0;
    }

    details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    }

    h3 {
        margin: 0px;
        display: inline-block;
        padding-right: 180px;
    }
  
     
</style>
<html lang="en"></html>
<html>
  <head>
    <% include components/head %>
  </head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">  
      <div class ="row">
        <div class="col-sm-1"></div>
        <div class="col-lg-6">
          <h1><%= page %></h1>
          <h3><%=page%> XENON team at a glance </h3>
          <hr style="margin-top: 5px;">
          <p>Total Members: <%= curr.length%> <br> <br>
            PI: <% for (i = 0; i < PI.length; i++) {%>
                  <%=PI[i].last_name + ", " + PI[i].first_name %> <br>
                <%}%> <br>
            <% for(var key in dict) {%>
              <%=key%>: <%=dict[key]%> <br>
            <%}%>
          </p>
        </div>
        <div class="col-sm-4">
          <!-- make this button available only if authorized as admin/PI-->
            <h3>Members</h3>
            <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='/newuser'">Add Member</button>
          <% include components/directory %>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </body>
</html>