<!DOCTYPE html>
<html lang="en">
<head>
  <% include components/head %>
  <script src="/shifts/javascripts/directory_scripts.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/shifts/stylesheets/bootstrap-social.css">
</head>
<body style="background-color: #30415d;">
  <div class="row" style="height: 50px;"></div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 bg-3" style="padding: 40px 50px 40px 50px;  border-radius: 3px;">
      <h3>Remove an Existing Member</h3>
      <h5>Please fill out the following form to remove a member from your institute.</h5>
      <br>
      <form id="formRemoveUser" name="removeuser" method="post" action="/shifts/users/removeuser">
        <div class="row" style="margin-top:12px">
          <label for="fname" style="padding-left:30px">Name</label><br>
          <div style="padding-left:30px">
              <select id="selectedUser" name="selectedUser" required>
                <option value="" selected disabled hidden>Please select</option>
                <% for (i = 0; i < data.length; i++) {%>
                  <option id="<%= i %>" value="<%= data[i]._id %>"><%= data[i].first_name %> <%= data[i].last_name %></option>
                <%}%>
              </select>
          </div>
        </div>

        <input id="name" type="text" name="name" hidden/>

        <div class="row" style="margin-top:12px">
          <label for="position" style="padding-left:30px">Position</label><br>
          <div style="text-align:center;">
            <input id="position_dis" type="text" name="position_dis" disabled/>
          </div>
        </div>
        <input id="position" type="text" name="position" hidden/>

        <div class="row" style="margin-top:12px">
          <label for="institute" style="padding-left:30px">Institute</label><br>
          <div style="text-align:center;">
            <input id="institute_dis" type="text" name="institute_dis" disabled/>
          </div>
        </div>
        <input id="institute" type="text" name="institute" hidden/>

        <div class="row" style="margin-top:12px">
          <label for="time" style="padding-left:30px">Time</label><br>
          <div style="text-align:center;">
            <input id="time_dis" type="text" name="time_dis" disabled/>
          </div>
        </div>
        <input id="time" type="text" name="time" hidden/>


        <div class="row" style="margin-top:12px">
          <label for="sdate" style="padding-left:30px">Start Date</label><br>
          <div style="text-align:center;">
            <input id="sdate_dis" type="text" name="sdate_dis" disabled/>
          </div>
        </div>
        <input id="sdate" type="text" name="sdate" hidden/>

        <div class="row" style="margin-top:12px">
          <label for="email" style="padding-left:30px">Personal Email</label>
          <button type="button" class="btn btn-sm" data-html="true" data-toggle="tooltip" data-placement="right" id="right" title="" 
          data-original-title="Please input an email where this person can be contacted when (s)he leaves the collaboration" 
          style="border-radius:25px;border:transparent;padding:0px 5px;"><i class="fas fa-question"></i></button>
          <br>
          <div style="text-align:center;">
              <input id="email" type="email" name="Email" required>
          </div>
        </div>

        <div class="row" style="margin-top:12px">
          <label for="edate" style="padding-left:30px">Leave Date</label>
          <button type="button" class="btn btn-sm" data-html="true" data-toggle="tooltip" data-placement="right" id="right" title="" 
          data-original-title="Please enter the date that this member left the collaboration" 
          style="border-radius:25px;border:transparent;padding:0px 5px;"><i class="fas fa-question"></i></button>
          <br>
          <div style="text-align:center;">
            <input id="edate" type="text" name="edate" placeholder="YYYY-MM-DD" required>
            <span id="edate_hidden" style="color:red" hidden>Please use the format YYYY-MM-DD</span>
          </div>
        </div>
        <br>
        <div style="text-align:center;">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>
</body>
<script>
  // autofill disabled fields when user is selected
  $(document).ready(function() {
    $("#selectedUser").change(function() {
      var optionId = $(this).children(":selected").attr("id");
      var data = JSON.parse(`<%- JSON.stringify(data) %>`);
      var name = `${data[optionId].first_name} ${data[optionId].last_name}`;
      // hidden fields for req.body and email
      $('#institute').val(data[optionId].institute);
      $('#position').val(data[optionId].position);
      $('#time').val(data[optionId].percent_xenon);
      $('#sdate').val(data[optionId].start_date);
      $('#name').val(name);
      // disabled fields don't get passed into req.body but still need them for user
      // to view the displayed information.
      $('#institute_dis').val(data[optionId].institute);
      $('#position_dis').val(data[optionId].position);
      $('#time_dis').val(data[optionId].percent_xenon);
      $('#sdate_dis').val(data[optionId].start_date);
    });
    $('#right').tooltip();
    ValiDate('#edate');
    ValidateForm('#formRemoveUser', ['#edate']);
  });
</script>
</html>