<!DOCTYPE html>
<html lang="en">
<head>
    <% include components/head %>
    <link rel='stylesheet' href='/shifts/stylesheets/calendar.css'/>
    <link rel='stylesheet' href='/shifts/stylesheets/fullcalendar.min.css'/>
    <script src='/shifts/javascripts/fullcalendar.js'></script>
    <script src="/shifts/javascripts/bootstrap-select.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/shifts/stylesheets/bootstrap-select.min.css">
    <script src="/shifts/javascripts/shift_scripts.js" type="text/javascript"></script>
</head>
<body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">
        <ul class="nav nav-tabs" id="shiftNavTab" role="tablist">
            <li class="active"><a id="calendar-tab" data-toggle="tab" href="#calendartab" role="tab" aria-controls="calendar" aria-selected="true">Calendar</a></li>
            <!-- Make available to admin only. Admin defined as: group and/or PI -->
            <% if (user.position == "PI" || user.groups.includes("operations")) { %>
                <li><a id="rules-tab" data-toggle="tab" href="#management" role="tab" aria-controls="rules" aria-selected="false">Shift Management</a></li>
            <%}%>
            <!-- For testing purposes -->
            <% if (user.first_name == "Yvette" || user.last_name == "Tunnell" || user.last_name == "Schumann") { %>
                <li><a id="shift-calc" data-toggle="tab" href="#shiftcalc" role="tab">Shift Calculator</a></li>
            <%}%>
            
        </ul>

        <div class="tab-content" id="tabContent">

            <!-- Calendar tab-->
            <div class="tab-pane fade in active" id="calendartab">
                <br>
                <div class="row" style="height:100%">
                    <div class="col-sm-4">
                        <h4 style="width:100%;background-color:#30415d;color:white;margin-top:5px;padding:10px; border-radius: 15px 15px 0px 0px">Institute Leaderboard</h4>
                        <table class="table-condensed" style="width:100%">
                            <thead>
                                <th>Institute</th>
                                <th>Shifts all time</th>
                                <th id="table_head_this_year">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span id="the_year">2021</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="background-color:#fff;letter-spacing:normal;">
                                            <li><a href="#">2021</a></li>
                                            <li><a href="#">2020</a></li>
                                            <li><a href="#">2019</a></li>
                                            <li><a href="#">2018</a></li>
                                            <li><a href="#">2017</a></li>
                                            <li><a href="#">2016</a></li>
                                        </ul>
                                    </div>
                                </th>
                            </thead>
                            <tbody id="aggregate_table_body"></tbody>
                        </table>
                    </div>
                    <div class="col-sm-8">
                        <ul class="cal_ul pull-right" id="calendar-legend">
                            <li class="cal_li assigned">Assigned</li> 
                            <li class="cal_li free">Free</li>
                            <li class="cal_li training">Training</li>
                        </ul>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>

            <!-- Shift Rules Tab -->
            <div class="tab-pane fade" id="shiftcalc" role="tabpanel">
                <h4 style="width:100%;background-color:#30415d;color:white;margin-top:5px;padding:10px; border-radius: 15px 15px 0px 0px">Shift Estimations</h4>
                <table class="table-condensed" style="width:100%">
                    <thead>
                        <th>Institute</th>
                        <th id="shifts_this_year">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span id="calc_the_year">Shifts All Time</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:#fff;letter-spacing:normal;">
                                    <li><a href="#">Shifts All Time</a></li>
                                    <li><a href="#">2021</a></li>
                                    <li><a href="#">2020</a></li>
                                    <li><a href="#">2019</a></li>
                                    <li><a href="#">2018</a></li>
                                    <li><a href="#">2017</a></li>
                                    <li><a href="#">2016</a></li>
                                </ul>
                            </div>
                        </th>
                        <th>Head Count</th>
                        <th>
                            Expected Shifts
                            <button type="button" class="btn btn-sm" data-html="true" data-toggle="tooltip" 
                            data-placement="right" id="right" title="" data-original-title="Based on users on 
                            January 1 of selected year. Please note that the total shift count was made by adding 
                            completed shifts stored in the data base for the selected year." 
                            style="border-radius:25px;border:transparent;padding:0px 5px;"><i class="fas fa-question"></i></button>
                        </th>
                        <th>Shift Deficit</th>
                    </thead>
                    <tbody id="calc_table_body"></tbody>
                </table>
            </div>
            <!-- Shift Management Tab -->
            <div class="tab-pane fade" id="management" role="tabpanel" aria-labelledby="rules-tab">
                <br>
                <span>Use the following forms to add/remove shifts: </span>
                <br>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Add Empty Shifts</h4>
                    </div>
                    <div class="panel-body">
                        <p>Use this form to add new shifts to the calendar for people to sign up to.</p> 
                        <form id="add_shift_form" method="POST">
                            <div class="row" style="padding-left:15px">
                                <div class="col-sm-6" style="margin-top:5px;">
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Start Date</strong> 
                                        </div>
                                        <div class="col-6">
                                            <input name="start_date" type="date" placeholder="YYYY-MM-DD" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="margin-top:5px">
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>End Date</strong>  
                                        </div>
                                        <div class="col-6">
                                            <input name="end_date" type="date" placeholder="YYYY-MM-DD" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="margin-top:5px">
                                    <div class="row">
                                        <div class="col-6">
                                            <strong title="How much is this shift work in relation to one week of 'normal' shifting">Credit Multiplier</strong>
                                        </div>
                                        <div class="col-6">
                                            <input type="number" name="credit_mulitiplier" step="any" value=1.0 required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="margin-top:5px">
                                    <div class="row" style="margin-left: 1px;">
                                        <div class="col-6">
                                            <strong>Shift Change Day</strong>
                                        </div>
                                        <div class="col-6">
                                            <select name="shift_change_day">
                                                <option value=1>Monday</option>
                                                <option value=2>Tuesday</option>
                                                <option value=3>Wednesday</option>
                                                <option value=4>Thursday</option>
                                                <option value=5>Friday</option>
                                                <option value=6>Saturday</option>
                                                <option value=0>Sunday</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="margin-top:5px;">
                                    <div class="row" style="margin-left: 1px;">
                                        <div class="col-6" >
                                            <strong>Shift Type</strong>
                                        </div>
                                        <div class="col-6">
                                            <select name="shift_type">
                                                <option value="shifter">Shifter</option>
                                                <option value="run coordinator">Run Coordinator</option>
                                                <option value="distillation">Distillation</option>
                                                <option value="data quality">Data Quality</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="margin-top:5px" >
                                    <button class="btn btn-secondary" type="submit" style="background-color:#cf6766;color:white;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Remove Empty Shifts</h4>
                    </div>
                    <div class="panel-body">
                        <p>Use this form to remove empty shifts. <br>
                            Keep in mind, this will not remove shifts people already signed up for.<br>
                            If you want to do that, you have to use the calendar to mark the shift as available and then run this again.</p>
                        <form id="remove_shift_form" method="POST"> 
                            <div class="row" style="padding-left:15px;">
                                <div class="col-xs-12 col-sm-6" style="margin-top:5px">
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Start Date</strong>
                                        </div>
                                        <div class="col-6">
                                            <input name="start_date" type="date" placeholder="YYYY-MM-DD" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6" style="margin-top:5px">
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>End Date</strong>
                                        </div>
                                        <div class="col-6">
                                            <input name="end_date" type="date" placeholder="YYYY-MM-DD" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6" style="margin-top:5px">
                                    <div class="row">
                                        <div class="col-6">
                                            <strong>Shift Type</strong>
                                        </div>
                                        <div class="col-6">
                                            <select name="shift_type">
                                                <option value="all">All</option> 
                                                <option value="shifter">Shifter</option>
                                                <option value="run coordinator">Run Coordinator</option>
                                                <option value="distillation">Distillation</option>
                                                <option value="data quality">Data Quality</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 pull-right" style="margin-top:5px">
                                    <button class="btn btn-secondary" type="submit" style="background-color:#cf6766;color:white;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- Mark Available -->
    <div class="modal fade in" id="markAvailableModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="padding: 20px 45px 20px 45px; background-color: #fdfdfd;">
                <div class="modal-header">
                    <h3 class="modal-title" id="confirm-delete">Confirm Action</h3>
                </div>
                <div class="modal-body" style="overflow-y:auto">
                    <p> Are you sure you want to mark this shift available? <br>
                        If you change your mind, will have to sign up for the shift again.</p>
                    <hr>
                    <button class="btn btn-default" data-dismiss="modal" href="#">Cancel</button>
                    <button id="submit_m_avail" class="btn btn-danger">Mark Available</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Shift Sign Up -->
    <div class="modal fade in" id="signUpModal">   
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="padding: 20px 45px 20px 45px; background-color: #fdfdfd;">
                <div class="modal-header">
                    <h3 class="modal-title" id="sign_up_title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; &nbsp;Sign up for a shift</h3>
                </div>
                <span style="font-size:12px;">
                    <strong style="color: #e96245">* required field</strong>
                </span>
                <form id="sign_up_form" method="POST" style="margin-top: 0px">
                    <div class="modal-body" style="min-height:200px;overflow-y:auto">           
                        <div class="row">
                            <div class="col-6">
                                <strong>Shift Start</strong>
                            </div>
                            <div class="col-6">
                                <input id="id_start_date" type="date" name="start_date" readonly>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Shift End</strong>
                            </div>
                            <div class="col-6">
                                <input id="id_end_date" type="date" name="end_date" readonly>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Shifter</strong>
                            </div>
                            <div class="col-6">
                                <input id="id_shifter" type="text" name="shifter" readonly value="<%= user.lngs_ldap_uid %>">
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Institute</strong>
                            </div>
                            <div class="col-6">
                                <input id="id_institute" type="text" name="institute" readonly value="<%= user.institute %>">
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Shift Type</strong>
                            </div>
                            <div class="col-6">
                                <select id="id_shift_type" name="shift_type"></select>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Will you have access to transportation?</strong><strong style="color: #e96245">*</strong>
                            </div>
                            <div class="col-6">
                                <input id="id_has_car" type="checkbox" name=has_car required>
                                <span>&nbsp;(check for yes)</span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong title="No guarantee this will be seen so if it's important contact the local staff directly">Comment</strong>
                            </div>
                            <div class="col-6">
                                <input id="id_special_comment" type="text" name="comment" max_length=200>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-12">
                                <strong>Disclaimer:</strong> 
                                <span style="font-size:10pt">By signing up you indicate the following:
                                    <ul>
                                        <li>You will be present for the shift from the operations meeting
                                             on arrival day until the operations meeting on departure day.</li> 
                                        <li>You have received the required training, including the safety
                                             course, or have organized to do so.</li> 
                                        <li>You have the required computing accounts.</li>
                                        <li>You are familiar with the detector and able to operate the DAQ/SCADA
                                             systems.</li>
                                        <li> You are able to independently analyze data.</li> 
                                        <li> You have access to transportation.</li> 
                                        <li> If you have any special considerations you have contacted the
                                             operations manager already.</li>
                                    </ul>
                                </span>
                            </div>
                            <div class="col-12">
                                <input id="id_disclaimer" type="checkbox" required>
                                <strong>&nbsp;I have read and agree to the disclaimer</strong><strong style="color: #e96245">*</strong> &nbsp;
                            </div>
                        </div>
                        <input id="id_remove" type="hidden" value="false" name="remove">
                    </div>
                    <div class="modal-footer">
                        <!-- <a class="btn btn-danger" data-dismiss="modal" href="#" style="background-color:#cf6766">Cancel</a> -->
                        <button id="shift_submit_button" type="submit" style="background-color:#588296;border:#718c99;border-radius:5px;width:100%;padding:16px 32px;color:white;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Assign Shifter -->
    <div class="modal fade in" id="assignModal">   
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="padding: 20px 45px 20px 45px; background-color: #fdfdfd;">
                <div class="modal-header">
                    <h3 class="modal-title" id="assign_title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; &nbsp;Assign user to a Shift</h3>
                </div>
                <span style="font-size:12px;">
                    <strong style="color: #e96245">* required field</strong>
                </span>
                <form id="assign_form" method="POST" style="margin-top: 0px">
                    <div class="modal-body" style="min-height:200px;overflow-y:auto">           
                        <div class="row">
                            <div class="col-6">
                                <strong>Shift Start</strong>
                            </div>
                            <div class="col-6">
                                <input id="assign_start_date" type="date" name="start_date" readonly>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Shift End</strong>
                            </div>
                            <div class="col-6">
                                <input id="assign_end_date" type="date" name="end_date" readonly>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Shifter LNGS ID</strong>
                            </div>
                            <div class="col-6">
                                <input id="assign_shifter" type="text" name="shifter">
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Institute</strong>
                            </div>
                            <div class="col-6">
                                <select name="institute" id="assign_institute">
                                    <option value="" disabled selected>Select your option</option>
                                    <% for (i = 0; i < institutes.length; i++) {%>
                                      <option value="<%= institutes[i]%>"><%= institutes[i]%></option>
                                    <%}%>
                                  </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Shift Type</strong>
                            </div>
                            <div class="col-6">
                                <select id="assign_shift_type" name="shift_type"></select>
                            </div>
                        </div>
                        <div class="row" style="margin-top:12px">
                            <div class="col-6">
                                <strong>Will the shifter have access to transportation?</strong><strong style="color: #e96245">*</strong>
                            </div>
                            <div class="col-6">
                                <input id="assign_has_car" type="checkbox" name=has_car required>
                                <span>&nbsp;(check for yes)</span>
                            </div>
                        </div>
                  
                         
                        <input id="assign_remove" type="hidden" value="false" name="remove">
                    </div>
                    <div class="modal-footer">
                        <button id="shift_submit_button" type="submit" style="background-color:#588296;border:#718c99;border-radius:5px;width:100%;padding:16px 32px;color:white;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Shift Tooltip -->
    <div class="ttip" id="ttip">
       <div class="row" style="width:440px;margin-left:10px; padding-bottom: 5px; padding-top: 3px;">
            <button class="close pull-right" type="button" onclick="CloseTooltip()" aria-hidden="true" style="font-size:25pt; display: inline">&#x00D7;&nbsp;&nbsp;</button>
            <h4 class="modal-title" id="shift_modal_title">Shift Detail</h4>
        </div>
        <hr style="margin:5px">
        <div class="row" style="padding-top: 10px; padding-bottom: 10px; margin-left: 3px; margin-right: 5px">
            <div class="col-xs-4 col-sm-3">
                <strong>Start:</strong>
            </div>
            <div class="col-xs-8 col-sm-3">
                <span id="shift_modal_start"></span>
            </div>
            <div class="col-xs-4 col-sm-3">
                <strong>Institute:</strong>
            </div>
            <div class="col-xs-8 col-sm-3">
                <span id="shift_modal_institute"></span>
            </div>
            <div class="col-xs-4 col-sm-3">
                <strong>End:</strong>
            </div>
            <div class="col-xs-8 col-sm-3">
                <span id="shift_modal_end"></span>
            </div>
            <div class="col-xs-4 col-sm-3">
                <strong>Shifter:</strong>
            </div>
            <div class="col-xs-8 col-sm-3">
                <span id="shift_modal_user"></span>
            </div>
            <div class="col-xs-4 col-sm-3">
                <strong>Availability:</strong>
            </div>
            <div class="col-xs-8 col-sm-3">
                <span id="shift_modal_available"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="padding-left: 30px; padding-bottom: 13px; padding-top: 10px">
                <button class="btn btn-primary" id="btn_sign_up">Sign Up</button>
                <span>&nbsp;</span>
                <button class="btn btn-default" id="btn_mark_available" data-target="#markAvailableModal">Mark Available</button>
                <span>&nbsp;</span>
                <!-- Add this button back when i know what it does lol -->
                <!-- <button class="btn btn-info" id="btn_train">Sign up for Training</button> -->
                <button class="btn btn-primary" id="btn_assign_shftr">Assign Shifter</button>
                <span>&nbsp;</span>
            </div>
        </div>
    </div>

</body>
<script>
    $(document).ready(async function() {
        const stats = await CalcEstShifts(`<%- JSON.stringify(instInfo) %>`);
        console.log(stats);
        // initialize the table at current year
        FillAggregates("#aggregate_table_body", '2021', "<%= user.institute %>");
        $('.dropdown-menu a').click(function(){
            $('#the_year').text($(this).text());
            FillAggregates("#aggregate_table_body", $(this).text(), "<%= user.institute %>");
        });
        // page is now ready, initialize the calendar...
        FillCalculator("#calc_table_body", '0', "<%= user.institute %>", JSON.stringify(stats));
        $('.dropdown-menu a').click(function(){
            $('#calc_the_year').text($(this).text());
            FillCalculator("#calc_table_body", $(this).text(), "<%= user.institute %>", JSON.stringify(stats));
        });

        InitializeCalendar("<%= user.lngs_ldap_uid %>", "<%= user.position %>", "<%= user.groups %>", "<%= user.institute %>");
        $('#right').tooltip();
    });
</script>
</html>