<!DOCTYPE html>
<style>
.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0; /* I added this after I posted my reply */
  vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}
</style>
<html lang="en">
<head>
 <% include components/head %> 
</head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3"> 
      <div class="row"></div>
        <div class="col-md-2 row-height"></div>
        <div class="col-sm-8 row-height">
          <h1><%= title %></h1>
          <form id="formUpdateUser" name="updateuser" method="post" action="/users/<%= user._id %>/updateContactInfoAdmin">
            <label for="fname">First Name</label>
            <input id="fname" type="text" name="FirstName" value="<%= user.first_name %>"/>
            <label for="lname">Last Name</label>
            <input id="lname" type="text" name="LastName" value="<%= user.last_name %>"/> <br>
            <label for="email">Email</label>
            <input id="email" type="email" name="Email" value="<%= user.email %>"/>
            <label for="position">Position</label>
            <input id="position" type="text" name="Position" value="<%= user.position %>"/>
            <label for="institute">Institute</label>
            <input id="institute" type="text" name="Institute" value="<%= user.institute %>"/>
            <label for="tasks">Tasks</label>
            <input id="tasks" type="text" name="Tasks" value="<%= user.tasks %>"/>
            <label for="sdate">Start Date</label>
            <input id="sdate" type="date" name="StartDate" value="<%= start %>"/>
            <label for="edate">End Date</label>
            <input id="edate" type="date" name="EndDate"/>
            <label for="pxenon">Percent Xenon</label>
            <input id="pxenon" type="text" name="pxenon" value="<%= user.percent_xenon %>"/>
          
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="col-md-2 row-height"></div>
      </div>
    </div>
  </body>
</html>