<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('components/head', {base_url: base_url}); %>
  <link rel="stylesheet" href="<%=base_url%>/stylesheets/bootstrap-social.css">
</head>
<body style="background-color: #30415d;">
    <div class="text-center">
      <div class="row" style="height: 50px;"></div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 bg-3" style="padding: 40px 50px 40px 50px;  border-radius: 3px;">
          <h3>Shift Management Login</h3>
          <h5>Please choose from any of the following login options*</h5>
          <br>
          <div class="alert alert-danger" role="alert">
            <% if (link != null) {%>
                <%= message %> <a href="<%= link %>" class="alert-link">DAQ website</a>
            <%} else {%>
                <%= message %>
            <%}%>
          </div>
          <!-- LNGS -->
          <button type="button" data-toggle="modal" data-target="#LNGSmodal" class="btn btn-linkedin" style="width:90%;padding:8px;margin-top:10px;font-size:medium;"><i class="fas fa-globe-americas" style="float:left;font-size:x-large;"></i> Login with LNGS</button>
          <!--Github-->
          <a href="<%=base_url%>/auth/github"><button type="button" class="btn btn-github" style="width:90%;padding:10px;margin-top:10px;font-size:medium;"><i class="fab fa-github pr-1" style="float:left;font-size:x-large;"></i> Login with GitHub</button></a>
          <!-- Email/PW -->
          <button type="button" data-toggle="modal" data-target="#localModal" class="btn btn-vk" style="width:90%;padding:8px;margin-top:10px;font-size:medium;"><i class="fas fa-at" style="float:left;font-size:x-large;"></i> Login with Email</button>
          <p style="margin-top:20px">*If you are repeatedly having issues logging in with LNGS or GitHub please use the workaround as described in the <a href="https://xe1t-wiki.lngs.infn.it/doku.php?id=xenon:xenonnt:webapp#addressing_login_issues" class="alert-link">wiki page</a></p>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <!-- Email Modal -->
    <div class="modal fade" id="localModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Email/Password log in</h3>
          </div>
          <div class="modal-body" style="padding:10px 0px 30px 40px">
            <br>
            <form action="password" method="post">
              <div>
                <input type="email" name="username" placeholder="email"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="password"/>
            </div>
            <br>
            <div>
                <input type="submit" value="Submit"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- LNGS Modal -->
  <div class="modal fade" id="LNGSmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Use LNGS Credentials</h3>
        </div>
        <div class="modal-body" style="padding:10px 0px 30px 40px">
          <br>
          <form method='post' action='<%=base_url%>/auth/ldap'>
              <div class="form-group">
                <input type='text' name='user' placeholder="LNGS ID" required>
              <div class="form-group">
                <input type='password' name='password' placeholder="LNGS Password" required>
              <br>
            <input type="submit" value="Submit"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>